<!-- <h2>👤 All Users</h2> -->
<!-- <ul>
  <li *ngFor="let user of users">
    {{ user.name }} ({{ user.email }})
    <button (click)="deleteUser(user._id)">Delete</button>
  </li>
</ul> -->

<!-- <hr> -->

<!-- <h2>🛒 All Orders</h2>
<div *ngFor="let order of orders">
  <p><strong>ID:</strong> {{ order._id }}</p>
  <p><strong>User:</strong> {{ order.user?.name }} ({{ order.user?.email }})</p>
  <p><strong>Status:</strong>
    <select [(ngModel)]="order.status" (change)="updateStatus(order._id, order.status)">
      <option value="pending">Pending</option>
      <option value="confirmed">Confirmed</option>
      <option value="cancelled">Cancelled</option>
      <option value="delivered">Delivered</option>
    </select>
  </p>
  <hr>
</div>

<hr> -->
<div class="bg">
    <div class="admin-welcome-banner">
        <h1>Welcome  Admin 👋</h1>
        <p>Here you can manage users, orders, and food items efficiently.</p>
      </div>
      
      <!-- <hr> -->
      
    
    <!-- <h2>🍔 All Foods</h2>
    <ul>
      <li *ngFor="let food of foods">
        {{ food.name }} - ₹{{ food.price }}
      </li>
    </ul> -->
    <div class="menu-button-container">
        <a class="add-product-button" href="/add">ADD PRODUCT</a>
      </div>
</div>
  
  

