<!-- <section class="bg-light mt-3">
    <h5 class="dealCar">Today’s Deals</h5>
    <div class="itemCarousel">
      <div class="dealcarousel">
        <div class="items">
          <div class="itemCard">
            <img
              src="https://m.media-amazon.com/images/I/81oS2scJ5GL._AC_SY200_.jpg"
              alt=""
            />
            <a href="#">Rs 61,900 - Rs 83,890</a>
          </div>
        </div>

        <div class="items">
          <div class="itemCard">
            <img
              src="https://m.media-amazon.com/images/I/61-vRq2ulOL._AC_SY200_.jpg"
              alt=""
            />
            <a href="#">Rs 990 - Rs 1,999</a>
          </div>
        </div>

        <div class="items">
          <div class="itemCard">
            <img
              src=" https://m.media-amazon.com/images/I/61bm7UEdGAL._AC_SY200_.jpg"
              alt=""
            />
            <a href="#">Rs 61,900 - Rs 83,890</a>
          </div>
        </div>

        <div class="items">
          <div class="itemCard">
            <img
              src=" https://m.media-amazon.com/images/I/61QiBo-sPTL._AC_SY200_.jpg"
              alt=""
            />
            <a href="#">Rs 120.00 - Rs 3,890</a>
          </div>
        </div>

        <div class="items">
          <div class="itemCard">
            <img
              src=" https://m.media-amazon.com/images/I/610BF3kqBZL._AC_SY200_.jpg"
              alt=""
            />
            <a href="#">Rs 10,900 - Rs 24,890</a>
          </div>
        </div>

        <div class="items">
          <div class="itemCard">
            <img
              src=" https://m.media-amazon.com/images/I/61ATaTpvEQL._AC_SY200_.jpg"
              alt=""
            />
            <a href="#">Rs 179.00 - Rs 3,890</a>
          </div>
        </div>

        <div class="items">
          <div class="itemCard">
            <img
              src=" https://m.media-amazon.com/images/I/61akt30bJsL._AC_SY200_.jpg"
              alt=""
            />
            <a href="#">Rs 138.00 - Rs 899.00</a>
          </div>
        </div>

        <div class="items">
          <div class="itemCard">
            <img
              src="https://m.media-amazon.com/images/I/61q0ZgCYoJL._AC_SY200_.jpg"
              alt=""
            />
            <a href="#">Rs 128.00 - Rs 3,899.00</a>
          </div>
        </div>
      </div>
    </div>
  </section> -->