<div
  class="d-flex align-items-center justify-content-center"
  style="
    background: url('https://t3.ftcdn.net/jpg/08/68/51/04/360_F_868510427_vsvN67LV1zSmLMyXMOFG05tRCmTAj1xL.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
  "
>
  <form
    (ngSubmit)="onLogin()"
    class="bg-white p-4 rounded shadow-sm"
    style="max-width: 500px; width: 100%;"
  >
    <h2 class="mb-4 text-center">Login</h2>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        id="email"
        [(ngModel)]="email"
        name="email"
        class="form-control"
        placeholder="Enter your email"
        required
      />
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        id="password"
        [(ngModel)]="password"
        name="password"
        class="form-control"
        placeholder="Enter your password"
        required
      />
    </div>

    <button type="submit" class="btn btn-success w-100">Login</button>
  </form>
</div>
