<!-- <section class="dealCar">
    <h4 class="ms-5">Top deals with exchange | Up to ₹55,000 off</h4>
    <div class=" itemCarousel ">
        
        <div class="dealcarousel">
            <!-- Card 1 -->
            <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                <div class="card h-100 shadow-sm">
                    <img src="https://m.media-amazon.com/images/I/418LdXdjiML._SR480,440_.jpg" class="img card-img-top" alt="Product">
                    <div class="ms-1">
                        <span class="badge bg-danger">38% off</span> <span class="fs">great summer sale</span><br>
                        <small class="text-success fw-bold">₹6,249  <small
                                class="text-muted text-decoration-line-through"> MRP :  ₹9,999</small></small><br>
                        <span class="fs">samsung</span>

                    </div>
                </div>
            </div> -->
            <!-- Card 2 -->
            <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                <div class="card h-100 shadow-sm">
                    <img src="https://m.media-amazon.com/images/I/31KxpX7Xk7L._SR480,440_.jpg" class="img card-img-top" alt="Product">
                    <div class="ms-1">
                        <span class="badge bg-danger">38% off</span> <span class="fs">great summer sale</span><br>
                        <small class="text-success fw-bold">₹6,249  <small
                                class="text-muted text-decoration-line-through"> MRP :  ₹9,999</small></small><br>
                        <span class="fs">samsung</span>

                    </div>
                </div>
            </div> -->
            <!-- Card 3 -->
            <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                <div class="card h-100 shadow-sm">
                    <img src="https://m.media-amazon.com/images/I/41CDymsLqvL._SR480,440_.jpg" class="img card-img-top" alt="Product">
                    <div class="ms-1">
                        <span class="badge bg-danger">38% off</span> <span class="fs">great summer sale</span><br>
                        <small class="text-success fw-bold">₹6,249  <small
                                class="text-muted text-decoration-line-through"> MRP :  ₹9,999</small></small><br>
                        <span class="fs">samsung</span>

                    </div>
                </div>
            </div> -->
            <!-- card 4 -->
            <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                <div class="card h-100 shadow-sm">
                    <img src="https://m.media-amazon.com/images/I/41t816KJNQL._SR480,440_.jpg" class="img card-img-top" alt="Product">
                    <div  class="ms-1">
                        <span class="badge bg-danger">38% off</span> <span class="fs">great summer sale</span><br>
                        <small class="text-success fw-bold">₹6,249  <small
                                class="text-muted text-decoration-line-through"> MRP :  ₹9,999</small></small><br>
                        <span class="fs">samsung</span>

                    </div>
                </div>
            </div> -->
            <!-- card 5 -->
            <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                <div class="card h-100 shadow-sm">
                    <img src="https://m.media-amazon.com/images/I/41uR6Pme6NL._SR480,440_.jpg   " class="img card-img-top" alt="Product">
                    <div  class="ms-1">
                        <span class="badge bg-danger">38% off</span> <span class="fs">great summer sale</span><br>
                        <small class="text-success fw-bold">₹6,249  <small
                                class="text-muted text-decoration-line-through"> MRP :  ₹9,999</small></small><br>
                        <span class="fs">samsung</span>

                    </div>
                </div>
            </div> -->
            <!-- card 6 -->
            <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                <div class="card h-100 shadow-sm">
                    <img src="https://m.media-amazon.com/images/I/4146RWmsLuL._SR480,440_.jpg" class="img card-img-top" alt="Product">
                    <div  class="ms-1">
                        <span class="badge bg-danger">38% off</span> <span class="fs">great summer sale</span><br>
                        <small class="text-success fw-bold">₹6,249  <small
                                class="text-muted text-decoration-line-through"> MRP :  ₹9,999</small></small><br>
                        <span class="fs">samsung</span>

                    </div>
                </div>
            </div> -->
            <!-- card 7 -->
            <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                <div class="card h-100 shadow-sm">
                    <img src="https://m.media-amazon.com/images/I/41UC0ARSbRL._SR480,440_.jpg" class="img card-img-top" alt="Product">
                    <div  class="ms-1">
                        <span class="badge bg-danger">38% off</span> <span class="fs">great summer sale</span><br>
                        <small class="text-success fw-bold">₹6,249  <small
                                class="text-muted text-decoration-line-through"> MRP :  ₹9,999</small></small><br>
                        <span class="fs">samsung</span>

                    </div>
                </div>
            </div> -->
            <!-- card 8 -->
            <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                <div class="card h-100 shadow-sm">
                    <img src="https://m.media-amazon.com/images/I/411uFYa0VhL._SR480,440_.jpg" class="img card-img-top" alt="Product">
                    <div  class="ms-1">
                        <span class="badge bg-danger">38% off</span> <span class="fs">great summer sale</span><br>
                        <small class="text-success fw-bold">₹6,249  <small
                                class="text-muted text-decoration-line-through"> MRP :  ₹9,999</small></small><br>
                        <span class="fs">samsung</span>

                    </div>
                </div>
            </div> -->
            <!-- card 9 -->
            <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                <div class="card h-100 shadow-sm">
                    <img src="https://m.media-amazon.com/images/I/41ql8-0lJzL._SR480,440_.jpg" class="img card-img-top" alt="Product">
                    <div  class="ms-1">
                        <span class="badge bg-danger">38% off</span> <span class="fs">great summer sale</span><br>
                        <small class="text-success fw-bold">₹6,249  <small
                                class="text-muted text-decoration-line-through"> MRP :  ₹9,999</small></small><br>
                        <span class="fs">samsung</span>

                    </div>
                </div>
            </div> -->
            <!-- card 10 -->
            <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                <div class="card h-100 shadow-sm">
                    <img src="https://m.media-amazon.com/images/I/41FkP4tEU-L._SR480,440_.jpg" class="img card-img-top" alt="Product">
                    <div  class="ms-1">
                        <span class="badge bg-danger">38% off</span> <span class="fs">great summer sale</span><br>
                        <small class="text-success fw-bold">₹6,249  <small
                                class="text-muted text-decoration-line-through"> MRP :  ₹9,999</small></small><br>
                        <span class="fs">samsung</span>

                    </div>
                </div>
            </div> -->
            <!-- card 11 -->
            <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                <div class="card h-100 shadow-sm">
                    <img src="https://m.media-amazon.com/images/I/41LBUHSUteL._SR480,440_.jpg" class="img card-img-top" alt="Product">
                    <div  class="ms-1">
                        <span class="badge bg-danger">38% off</span> <span class="fs">great summer sale</span><br>
                        <small class="text-success fw-bold">₹6,249  <small
                                class="text-muted text-decoration-line-through"> MRP :  ₹9,999</small></small><br>
                        <span class="fs">samsung</span>

                    </div>
                </div>
            </div> -->
            <!-- card 12 -->
            <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                <div class="card h-100 shadow-sm">
                    <img src="https://m.media-amazon.com/images/I/51Qp2+PqEUL._SR480,440_.jpg" class="img card-img-top" alt="Product">
                    <div  class="ms-1">
                        <span class="badge bg-danger">38% off</span> <span class="fs">great summer sale</span><br>
                        <small class="text-success fw-bold">₹6,249  <small
                                class="text-muted text-decoration-line-through">MRP : ₹9,999</small></small><br>
                        <span class="fs">samsung</span>

                    </div>
                </div>
            </div> -->
            <!-- card 13 -->
            <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                <div class="card h-100 shadow-sm">
                    <img src="https://m.media-amazon.com/images/I/41GGG4Z6lJL._SR480,440_.jpg" class="img card-img-top" alt="Product">
                    <div  class="ms-1">
                        <span class="badge bg-danger">38% off</span> <span class="fs">great summer sale</span><br>
                        <small class="text-success fw-bold">₹6,249  <small
                                class="text-muted text-decoration-line-through"> MRP :  ₹9,999</small></small><br>
                        <span class="fs">samsung</span>

                    </div>
                </div>
            </div> -->
            <!-- card 14 -->
            <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                <div class="card h-100 shadow-sm">
                    <img src="https://m.media-amazon.com/images/I/416t0eHB3SL._SR480,440_.jpg" class="img card-img-top" alt="Product">
                    <div  class="ms-1">
                        <span class="badge bg-danger">38% off</span> <span class="fs">great summer sale</span><br>
                        <small class="text-success fw-bold">₹6,249  <small
                                class="text-muted text-decoration-line-through">MRP: MRP :  ₹9,999</small></small><br>
                            <span class="fs">samsung</span>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section> --> -->