<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top shadow-sm" style="height: 75px;">
  <div class="container-fluid d-flex justify-content-between align-items-center">

    <!-- Logo -->
    <a class="navbar-brand ms-3" href="#">
      <img src="assets/img/burger king.png" alt="Logo" class="bg-white " style="position: relative;top: 10px; width: 70px; border-radius: 50%;">
    </a>

    <!-- Delivery Text -->
    <div class="d-flex align-items-center gap-3">
      <!-- <img src="assets/img/bk-logo.png" alt="BK Logo" width="40" /> -->
      <span class="text-uppercase fw-bold" style="color: #ccc;">Delivery</span>
      <div class="form-check form-switch">
        <input class="form-check-input custom-toggle border-0" type="checkbox" id="dineToggle" checked>
      </div>
      
      <span class="text-uppercase fw-bold" style="color: #5B2C06;">Dine-In/Takeaway</span>
    </div>
    
    <!-- Search Bar -->
    <form class="d-flex mx-auto col-md-6">
      <input class="form-control me-2" type="search" placeholder="Search your food..." aria-label="Search">
      <button class="btn btn-warning" type="submit">Search</button>
    </form>

    <!-- Right-side Navigation -->
    <div class="d-flex align-items-center me-3 gap-3 position-relative">

      <button class="btn btn-link text-dark" style="color: #ccc;"(click)="navigateTo('/home')">Sign in</button>

      <button class="btn btn-link text-dark" (click)="navigateTo('/orders')">Orders</button>

      <div class="position-relative">
        <button class="btn btn-link text-dark position-relative" (click)="navigateTo('/cart')">
          Cart
          <span *ngIf="cartCount > 0" class="cart-badge">{{ cartCount }}</span>
        </button>
        
      </div>

    </div>

  </div>
</nav>
