
    <div class="bk-wall__pg-wrapper">
        <div class="bk-wall">
            <div class="bk-wall__video">
                <section class="bk-wall__responsive-con">
                    <p class="section-title__title">Fake Paneer? Not in Our kingdom 👑</p>
                    <div class="about-us">
                        <div class="about-us__image">
                            <div class="about-us__img">
                                <div class="video_thumbnail u_cursor_pointer u_width_height">
                                    <div role="presentation" class="u_width_height"><img
                                            src="/assets/img/tasteIsKingThumb.0f7bc501.jpeg" alt="video"
                                            class="video_thumbnail__image u_bor_rad_6px u_width_height"></div>
                                </div>
                            </div>
                        </div>
                        <div class="about-us__content">
                            <p class="about-us__description">There are a lot of rumours around paneer used at Burger
                                King. Let us reassure you that Paneer used in our food is 100% dairy made with real
                                milk. Do watch this video which shows you the truth about our Paneer as well as gives
                                you a glimpse of Burger King's rigorous process and food safety standards. For any more
                                details please connect with <a href="/feedback"
                                    rel="noopener noreferrer">customercare&#64;burgerking.in</a></p>
                        </div>
                    </div>
                </section>
                <section class="bk-wall__section-layout">
                    <div class="bk-wall__flex-center">
                        <div class="bk-wall__video-content">
                            <div class="video_thumbnail u_cursor_pointer u_width_height">
                                <div role="presentation" class="u_width_height"><img
                                        src="https://d1rgpf387mknul.cloudfront.net/1624622984videotrustintastejpg"
                                        alt="video" class="video_thumbnail__image u_bor_rad_6px u_width_height"></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="bk-wall__about bk-wall__section-layout">
                <div class="about-us_wrapper">
                    <div class="section-title  undefined">
                        <h2 class="section-title__title">about burger king ®</h2>
                    </div>
                    <div class="about-us">
                        <div class="about-us__image">
                            <div class="about-us__img u_width_height"><img
                                    src="assets/img/king start.jpg" alt="about-us"
                                    class="u_bor_rad_6px u_width_height"></div>
                        </div>
                        <div class="about-us__content">
                            <p class="about-us__title">Great Food Comes First</p>
                            <p class="about-us__description">Our restaurants are known for serving high-quality,
                                great-tasting, and affordable food. Founded in 1954, BURGER KING® is the second largest
                                fast food hamburger chain in the world with about 18,000 restaurants operating in more
                                than 100 countries and US territories as at June 30, 2019. The original HOME OF THE
                                WHOPPER®, our commitment to ingredients, signature recipes, and end-to-end online Burger
                                King experience for millennials is what has defined our brand for more than 50 years.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bk-wall__read-about-us">
                <section class="bk-wall__section-layout">
                    <div class="htl-scroll undefined undefined">
                        <div class="htl-scroll__arrow htl-scroll__arrow_disabled htl-scroll__arrow_left 
              undefined" role="presentation"><img src="/static/media/left-arrow-disabled.6a386196.svg" alt="leftArrow"
                                class="htl-scroll__icon"></div>
                        <div class="component-slider">
                            <div class="slider-container">
                                <div class="slider-content" style="margin-left: 0px;">
                                    <div class="bk-wall__read-more__content">
                                        <div class="video_thumbnail u_cursor_pointer u_width_height">
                                            <div role="presentation" class="u_width_height"><img
                                                    src="https://d1rgpf387mknul.cloudfront.net/1624623015videonewVIjpg"
                                                    alt="video"
                                                    class="video_thumbnail__image u_bor_rad_6px u_width_height"></div>
                                        </div>
                                    </div>
                                    <div class="bk-wall__read-more__content">
                                        <div class="video_thumbnail u_cursor_pointer u_width_height">
                                            <div role="presentation" class="u_width_height"><img
                                                    src="https://d1rgpf387mknul.cloudfront.net/1624623044videoholijpg"
                                                    alt="video"
                                                    class="video_thumbnail__image u_bor_rad_6px u_width_height"></div>
                                        </div>
                                    </div>
                                    <div class="bk-wall__read-more__content">
                                        <div class="video_thumbnail u_cursor_pointer u_width_height">
                                            <div role="presentation" class="u_width_height"><img
                                                    src="https://d1rgpf387mknul.cloudfront.net/1624623071videodatethewhopperjpg"
                                                    alt="video"
                                                    class="video_thumbnail__image u_bor_rad_6px u_width_height"></div>
                                        </div>
                                    </div>
                                    <div class="bk-wall__read-more__content">
                                        <div class="video_thumbnail u_cursor_pointer u_width_height">
                                            <div role="presentation" class="u_width_height"><img
                                                    src="/static/media/tasteIsKingThumb.0f7bc501.jpeg" alt="video"
                                                    class="video_thumbnail__image u_bor_rad_6px u_width_height"></div>
                                        </div>
                                    </div>
                                </div>
                            </div><button class="caret caret-right">
                                <div class="htl-scroll__arrow htl-scroll__arrow_right htl-scroll-rgt undefined"
                                    role="presentation"><img src="/assets/img/right-arrow.073e1c9d.svg"
                                        alt="leftArrow" class="htl-scroll__icon"></div>
                            </button>
                        </div>
                        <div class="htl-scroll__arrow htl-scroll__arrow_disabled htl-scroll__arrow_right 
                undefined" role="presentation"><img src="/assets/img/left-arrow-disabled.6a386196.svg"
                                alt="leftArrow" class="htl-scroll__icon htl-scroll__icon-disabled-right"></div>
                    </div>
                </section>
            </div>
            <section class="bk-wall__section-layout bk-wall__banner">
                <div class="htl-scroll undefined undefined">
                    <div class="component-slider">
                        <div class="slider-container">
                            <div class="slider-content" style="margin-left: 0px;">
                                <div class="bk-wall-banner"><img src="/assets/img/safe-takeaways.3270cc83.jpg"
                                        alt="banner" class="u_width_height u_bor_rad_6px u_cursor_not_allowed"></div>
                                <div class="bk-wall-banner"><img src="/assets/img/safe-restaurants.019021db.png"
                                        alt="banner" class="u_width_height u_bor_rad_6px u_cursor_not_allowed"></div>
                                <div class="bk-wall-banner"><img src="/assets/img/safe-delivery.82819550.jpeg"
                                        alt="banner" class="u_width_height u_bor_rad_6px u_cursor_not_allowed"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            