<div
  class="container-fluid text-center text-white d-flex align-items-center justify-content-center"
  style="
    background: url('https://img.freepik.com/free-photo/view-delicious-burgers-with-buns-cheese_23-2150887869.jpg?ga=GA1.1.1772788870.1746441005&semt=ais_hybrid&w=740') no-repeat center center;
    background-size: cover;
    height: 100vh;
  "
>
  <div>
    <!-- <h1 class="mb-3">Welcome to Burger King</h1> -->
    <p class="mb-4">Please register or log in to continue.</p>

    <div class="d-flex justify-content-center gap-3">
        <a routerLink="/register" class="btn btn-outline-light px-4">Register</a>
        <a routerLink="/login" class="btn btn-light px-4">Login</a>
    </div>
  </div>
</div>
