<div class="footer_wrapper footer_zoom bg-dark text-white py-4">
  <div class="container">
    <hr class="bg-light">


    <div class="row">

      <!-- BK Info Section -->
      <div class="col-12 col-md-6 col-lg-2 mb-4">
        <div class="footer__section-title">BK<sup>®</sup> info</div>
        <ul class="list-unstyled">
          <li class="footer__item">About BK<sup>®</sup></li>
          <li class="footer__item">Fresh Taste</li>
          <li class="footer__item">Investor Relations</li>
          <li class="footer__item">FSSAI</li>
        </ul>
      </div>

      <!-- Contact Section -->
      <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="footer__section-title">Contact</div>
        <ul class="list-unstyled">
          <li class="footer__item">FAQ's &amp; Support</li>
          <li class="footer__item">Write to us:</li>
          <li><a href="mailto:careers@burgerking.in" class="text-white text-decoration-none">Careers</a></li>
          <li>Customer Care</li>
          <li><a href="mailto:scmsupport@burgerking.in" class="text-white text-decoration-none">Supply Chain Queries</a>
          </li>
          <li><a href="mailto:investor@burgerking.in" class="text-white text-decoration-none">Investor Relations</a>
          </li>
          <li>Franchising</li>
        </ul>
      </div>

      <!-- BK Cares Section -->
      <div class="col-12 col-md-6 col-lg-2 mb-4">
        <div class="footer__section-title">BK<sup>®</sup> Cares</div>
        <ul class="list-unstyled">
          <li><a href="https://d1rgpf387mknul.cloudfront.net/1708846894pdfnutritionchart25thfebpdf" target="_blank"
              class="text-white text-decoration-none">Nutrition Information</a></li>
          <li class="footer__item">Creating Brighter Futures</li>
          <li class="footer__item">Trust &amp; Taste</li>
          <li class="footer__item">COVID-19 Safety</li>
        </ul>
      </div>

      <!-- Legal Section -->
      <div class="col-12 col-md-6 col-lg-2 mb-4">
        <div class="footer__section-title">Legal</div>
        <ul class="list-unstyled">
          <li class="footer__item">Terms &amp; Conditions</li>
          <li class="footer__item">Privacy Policy</li>
          <li class="footer__item">Promotional T &amp; C</li>
        </ul>
      </div>

      <!-- App Download Section -->
      <div class="col-12 col-lg-3 mb-4">
        <div class="footer__section-title">Download our app</div>
        <div class="d-flex gap-2">
          <a href="https://apps.apple.com/us/app/burger-king-india/id1516627543" target="_blank"
            rel="noopener noreferrer">
            <img src="assets/img/App store.png" alt="Apple Store" class="img-fluid" style="max-width: 120px;">
          </a>
          <a href="https://play.google.com/store/apps/details?id=com.burgerkingindia.android" target="_blank"
            rel="noopener noreferrer">
            <img src="assets/img/google.png" alt="Google Play Store" class="img-fluid" style="max-width: 120px;">
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="footer__bottom">
    <div class="footer__logo u_cursor_pointer"><img
      src="assets/img/foot logo.png" alt="footer logo" width="50" height="50"
      role="presentation"></div>
  <p class="footer__copyright">TM &amp; © 2025 BURGER KING COMPANY LLC . All Rights Reserved.</p>
  <ul class="footer__socialmedia u_cursor_pointer">
    <li class="u_mar_2rem_lt"><a href="https://www.facebook.com/burgerkingindia/" target="_blank"
        rel="noopener noreferrer"><img src="assets/img/facebook.ff3fbd2c.svg" alt="facebook" role="presentation"></a>
    </li>
    <li class="u_mar_2rem_lt"><a href="https://www.instagram.com/burgerkingindia/" target="_blank"
        rel="noopener noreferrer"><img src="assets/img/instagram.a9d8bd71.svg" alt="instagram"
          role="presentation"></a></li>
    <li class="u_mar_2rem_lt"><a href="https://twitter.com/burgerkingindia" target="_blank"
        rel="noopener noreferrer"><img src="assets/img/xxx.avif" alt="twitter" role="presentation"></a>
    </li>
    <li class="u_mar_2rem_lt"><a href="https://www.youtube.com/user/BurgerKingIndia" target="_blank"
        rel="noopener noreferrer"><img src="assets/img/youtube.1ff5f219.svg" alt="youtube" role="presentation"></a>
    </li>
  </ul>
</div>